<div class="carousel-container container-fluid">
    <div class="row carousel-list">
        <div class="carousel-card col-2">
            <a class="card-content" routerLinkActive="active" routerLink="/">
                <img src="assets/scroll-carousel/carousel-miniature.jpg" alt="Celular IPhone X">

                <div class="card-caption">
                    <span>
                        {{ cardProduct.cellName }}
                    </span>

                    <span>
                        R$ {{ cardProduct.price }}
                    </span>

                    <span>
                        {{ cardProduct.storeName }}
                    </span>
                </div>
            </a>
        </div>

        <div class="carousel-card col-2">
            <a class="card-content" routerLinkActive="active" routerLink="/">
                <img src="assets/scroll-carousel/carousel-miniature.jpg" alt="Celular IPhone X">

                <div class="card-caption">
                    <span>
                        {{ cardProduct.cellName }}
                    </span>

                    <span>
                        R$ {{ cardProduct.price }}
                    </span>

                    <span>
                        {{ cardProduct.storeName }}
                    </span>
                </div>
            </a>
        </div>

        <div class="carousel-card col-2">
            <a class="card-content" routerLinkActive="active" routerLink="/">
                <img src="assets/scroll-carousel/carousel-miniature.jpg" alt="Celular IPhone X">
                
                <div class="card-caption">
                    <span>
                        {{ cardProduct.cellName }}
                    </span>

                    <span>
                        R$ {{ cardProduct.price }}
                    </span>

                    <span>
                        {{ cardProduct.storeName }}
                    </span>
                </div>
            </a>
        </div>

        <div class="carousel-card col-2">
            <a class="card-content" routerLinkActive="active" routerLink="/">
                <img src="assets/scroll-carousel/carousel-miniature.jpg" alt="Celular IPhone X">
                
                <div class="card-caption">
                    <span>
                        {{ cardProduct.cellName }}
                    </span>

                    <span>
                        R$ {{ cardProduct.price }}
                    </span>

                    <span>
                        {{ cardProduct.storeName }}
                    </span>
                </div>
            </a>
        </div>

        <div class="carousel-card col-2">
            <a class="card-content" routerLinkActive="active" routerLink="/">
                <img src="assets/scroll-carousel/carousel-miniature.jpg" alt="Celular IPhone X">
                
                <div class="card-caption">
                    <span>
                        {{ cardProduct.cellName }}
                    </span>

                    <span>
                        R$ {{ cardProduct.price }}
                    </span>

                    <span>
                        {{ cardProduct.storeName }}
                    </span>
                </div>
            </a>
        </div>

        <div class="carousel-card col-2">
            <a class="card-content" routerLinkActive="active" routerLink="/">
                <img src="assets/scroll-carousel/carousel-miniature.jpg" alt="Celular IPhone X">
                
                <div class="card-caption text-center">
                    <span>
                        {{ cardProduct.cellName }}
                    </span>

                    <span>
                        R$ {{ cardProduct.price }}
                    </span>

                    <span>
                        {{ cardProduct.storeName }}
                    </span>
                </div>
            </a>
        </div>
    </div> 

    <div class="btn-scroll-carousel" (click)="moveProducts()" role="button"></div>
</div>