<div class="carousel-container container-fluid">
    <div class="row carousel-list">               
        <!-- <div class="carousel-content col-sm-10"> -->
                <!-- <div class="row"> -->
                    <div class="carousel-card col-2">
                        <!-- <div class="thumbnail"> -->
                            <a class="card-content" routerLinkActive="active" routerLink="/">
                                <img src="assets/scroll-carousel/carousel-miniature.jpg" alt="Imagem thumbnail 1">
    
                                <div class="card-caption text-center">
                                    <span>
                                        {{ cardProduct.cellName }}
                                    </span>

                                    <span>
                                        R$ {{ cardProduct.price }}
                                    </span>

                                    <span>
                                        {{ cardProduct.storeName }}
                                    </span>
                                </div>
                            </a>
                        <!-- </div> -->
                    </div>
    
                    <div class="carousel-card col-2">
                        <!-- <div class="thumbnail"> -->
                            <a class="card-content" routerLinkActive="active" routerLink="/">
                                <img src="assets/home/home-thumb-2.jpg" alt="Imagem thumbnail 2">
    
                                <div class="card-caption text-center">
                                    <h3>
                                        Nulla vitae massa
                                    </h3>
    
                                    <p>
                                        Nulla vitae massa quis neque blandit vehicula ac id eros.
                                        Fusce massa velit.
                                    </p>
                                </div>
                            </a>
                        <!-- </div> -->
                    </div>
    
                    <div class="carousel-card col-2">
                        <!-- <div class="thumbnail"> -->
                            <a class="card-content" routerLinkActive="active" routerLink="/">
                                <img src="assets/home/home-thumb-3.jpg" alt="Imagem thumbnail 3">
    
                                <div class="card-caption text-center">
                                    <h3>
                                        Nulla vitae massa
                                    </h3>
    
                                    <p>
                                        Nulla vitae massa quis neque blandit vehicula ac id eros.
                                        Fusce massa velit.
                                    </p>
                                </div>
                            </a>
                        <!-- </div> -->
                    </div>
    
                    <div class="carousel-card col-2">
                        <!-- <div class="card-content"> -->
                            <a class="card-content" routerLinkActive="active" routerLink="/">
                                <img src="assets/home/home-thumb-4.jpg" alt="Imagem thumbnail 3">
    
                                <div class="card-caption text-center">
                                    <h3>
                                        Nulla vitae massa
                                    </h3>
    
                                    <p>
                                        Nulla vitae massa quis neque blandit vehicula ac id eros.
                                        Fusce massa velit.
                                    </p>
                                </div>
                            </a>
                        <!-- </div> -->
                    </div>
    
                    <div class="carousel-card col-2">
                        <!-- <div class="thumbnail"> -->
                            <a class="card-content" routerLinkActive="active" routerLink="/">
                                <img src="assets/home/home-thumb-5.jpg" alt="Imagem thumbnail 3">
    
                                <div class="card-caption text-center">
                                    <h3>
                                        Nulla vitae massa
                                    </h3>
    
                                    <p>
                                        Nulla vitae massa quis neque blandit vehicula ac id eros.
                                        Fusce massa velit.
                                    </p>
                                </div>
                            </a>
                        <!-- </div> -->
                    </div>

                    <div class="carousel-card col-2">
                        <!-- <div class="thumbnail"> -->
                            <a class="card-content" routerLinkActive="active" routerLink="/">
                                <img src="assets/scroll-carousel/carousel-miniature.jpg" alt="Imagem thumbnail 1">
    
                                <div class="card-caption text-center">
                                    <h6>
                                        Nulla vitae massa
                                    </h6>
    
                                    <p>
                                        Nulla vitae massa quis neque blandit vehicula ac id eros.
                                        Fusce massa velit.
                                    </p>
                                </div>
                            </a>
                        <!-- </div> -->
                    </div>
                <!-- </div> -->
        <!-- </div> -->
    </div>
</div>
