<div class="carousel-container">
    <div class="carousel-frame" id="carousel-frame">
        <div class="row carousel-list" id="carousel-list">
            <div *ngFor="let cardProduct of cardProducts" class="carousel-card col-2">
                <a class="card-content" routerLinkActive="active" routerLink="/">
                    <img src="assets/scroll-carousel/carousel-miniature.jpg" alt="Celular IPhone X">

                    <div class="card-caption">
                        <span class="product-name">
                            {{ cardProduct.cellName }}
                        </span>
                        
                        <span class="product-price">
                            $ {{ cardProduct.price }}
                        </span>

                        <span class="product-store-name">
                            {{ cardProduct.storeName }}
                        </span>
                    </div>
                </a>
            </div>
        </div>         
    </div>
    
    <div class="btn-scroll-card left" (click)="moveProducts('right')" [ngClass]="{'show-btn' : showButtonLeft}" role="button"></div>
    <div class="btn-scroll-card right" (click)="moveProducts('left')" [ngClass]="{'show-btn' : showButtonRight}" role="button"></div>
</div>