$white: #fff;
$dark-grey: #242424;

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.carousel-container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;    //fonte padrão para facilitar na responsividade, já que todas as unidades de tamanho de fonte se baseiam nessa unidade aqui (por conta do REM). Ex.: 1.2rem = 12px
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-frame{
    position: absolute;
    height: inherit;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;   //esconde os itens que ultrapassarem o espaço da div carousel-list
}

.carousel-list{
    margin-left: 25px;
    position: absolute; //precisa ter essa propriedade para o funcionamento dos botões
    display: flex;
    flex-wrap: nowrap;  //não deixa os itens da lista que ultrapassarem o espaço da div quebrarem linha
    width:fit-content;    //fit-content porque essa div tem que ter a largura ajustável de acordo com a quantidade de cards dentro dela
    transition: left 0.4s ease-in-out;  
}   

.carousel-card{
    background-color: white;
    border: 1px solid #dfe1e5;
    border-radius: 7px;
    width: 128px;
    height: 225px;
    margin-right: 10px;
    transition: all 0.1s ease-out;
    padding: 3px;   //padding para a imagem não se sobrepor à borda do card
}

.carousel-card:hover{
    transform: scale(125%);
    box-shadow: 0px 2px 3.5px #dbdbdbda;
}

.card-content{
    width: 100%;
    height: 100%;
}

.card-content img{
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.card-caption{
    width: 100%;
    height: 50%;
    font-size: 1.5em;
    text-align: center;
}

.card-caption span{
    //tudo isso é para aparecer as reticências de acordo com o overflow das linhas
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    width: 100%; /* Define o tamanho máximo do nosso container*/
}

.product-name{
    height: 56%;
    color: #1a0dab;
    overflow: hidden;  
    line-height: 1.4;
    -webkit-line-clamp: 3; /* Define quantas linhas para aparecer as reticencias */
}

.product-price{
    height: 24%;
    font-weight: 700;
    color: #316938;
    padding-top: 4px;
}

.product-store-name{
    color: $dark-grey;
    height: 20%;
    -webkit-line-clamp: 1; /* Define quantas linhas queremos */
}

.carousel-card:hover .product-name, .carousel-card:hover .product-store-name{
   font-size: 0.84em;
}

.carousel-card:hover .product-name{
    line-height: 1.2;
    -webkit-line-clamp: 4; /* Define quantas linhas para aparecer as reticencias */
}

.btn-scroll-card{
    background-color: white;
    border-radius: 50%;
    border: 1px solid #dfe1e5;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 1px 3px 6px #8e8e8eda; 
    z-index: 1;
    transition: color 0.5s ease-in-out;
    transition: opacity .4s ease-out;
    opacity: 0;
}

.btn-scroll-card.show-btn{
   opacity: 1;
}

.btn-scroll-card.right{ 
    right: 10px; 
}

.btn-scroll-card.left{
    left: 10px;
}

.btn-scroll-card::after{
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 25px;
    font-weight: 600;
    color: rgb(110, 110, 110);
}

.btn-scroll-card.right::after{
    content: ">";
}

.btn-scroll-card.left::after{
    content: "<";
}

.btn-scroll-card:hover::after{
    color: $dark-grey;
}

@keyframes fadeBtn {
    0% {opacity:0}
    100% {opacity:1}
}