//variáveis globais
$white: white;
$dark-grey: #242424;

nav{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;    //fonte padrão para facilitar na responsividade, já que todas as unidades de tamanho de fonte se baseiam nessa unidade aqui (por conta do REM). Ex.: 1.2rem = 12px
}

/*as classes estão com nome nav-x para não dar conflito com as classes do bootstrap*/

.navb{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.progress-bar{
    background-color: transparent;
    width: 100%;
    height: 3.5px;
}

.progress-bar-inner{
    background-color: #969696;
    width: 0%;
    padding: 0;
    height: 3.5px;
}


.navb-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark-grey;
    box-sizing: border-box;
    height: 60px;
}

.navb-brand{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 100%;
}

.navb-brand-name{
    font-size: 3em; //3em = 30px
    font-weight: 700;
    color: $white;
    text-decoration: none;
}

.navb-brand-logo img{
    width: 30px;
    height: 30px;
}

.navb-menus{
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
    padding: 0;    //por algum motivo, existe um padding e uma margem na navbar-menus, por isso tive que colocar esse 0
    margin: 0;
}

.navb-menu{
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    position: relative;
    list-style: none;
}

.navb-item{
    text-decoration: none;
    position: absolute;
    right: 20px;
    font-size: 2em; //2em = 20px
    color: $white;
    text-decoration: none;
    border: 5px solid $dark-grey;
    box-sizing: border-box; //border box para o item ficar dentro da navbar-menus e da navbar-container
    line-height: 50px;  //centraliza o texto na vertical
    transition: border 0.4s linear;
}

.navb-item:hover{
    border-bottom: 5px solid $white;
}

/* Configurações do menu hamburguer*/
.navb-hamburguer{
    width: 15%;
    height: inherit;
    display: none;
    align-items: center;
    justify-content: center;
}

.menu-hamburguer{   //esse menu é só para melhorar (aumentar) a área de clique do menu hamburguer
    width: 44px;
    height: 42px;
    background-color: #234d59;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 0 0 #234d59, 0 0 0 0 #234d59;  //esse é o ponto inicial do shadow, se nao definir o estado inicial ele começa a partir do final da borda do menu e deixa uma linha sem preencher ao redor do menu
    transition: box-shadow 0.4s ease-in-out;
}

.menu-hamburguer:hover{
    box-shadow: 0 0 0 8px #234d59, 0 0 0 8px #234d59; //8px é o raio
}

.hamburguer{
    display: block; //precisa do display block para definir o width e o height
    position: absolute;
    top: 19px;
    left: 7px;
    background-color: $white;
    border-radius: 3px;
    width: 30px;
    height: 4px;
    transition: 0.5s ease-in-out;   
}

.hamburguer::before, .hamburguer::after{
    background-color: $white;
    content: "";
    display: block;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.hamburguer::before{
    top: -8px;
}

.hamburguer::after{
    bottom: -8px;
}

#hamburguer-check-box{
    display: none;
}

#hamburguer-check-box:checked ~ .navb-hamburguer .menu-hamburguer{  /*o ~ é para pegar apenas a primeira label após a checkbox*/
    box-shadow: 0 0 0 150vw #234d59, 0 0 0 150vh #102329;
}

#hamburguer-check-box:checked ~ .navb-hamburguer .hamburguer{  /*o ~ é para pegar apenas a primeira label após a checkbox*/
    transform: rotate(45deg);
}

#hamburguer-check-box:checked ~ .navb-hamburguer .hamburguer::before{
    transform: rotate(90deg);
    top: 0;
}

#hamburguer-check-box:checked ~ .navb-hamburguer .hamburguer::after{
    transform: rotate(90deg);
    bottom: 0;
}
/* fim das configurações do menu hamburguer*/

@media only screen and (max-width: 500px){
    #hamburguer-check-box:checked ~ .navb-brand{
        visibility: hidden; //hidden para que essa parte da navbar nao fique ativa por trás da navbar-menus
        transition: 0.3s;
    }

    .navb-container{
        justify-content: space-evenly;
    }

    .navb-menus{
        display: none;
    }
    
    #hamburguer-check-box:checked ~ .navb-menus{
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        top: 60px;
        width: 100%;
        height: 90vh;
        z-index: 1;
        transition: .25s 1s cubic-bezier(0, 1.05, 0, 1.20);
    }

    .navb-menu{
        height: 25%;
    }

    .navb-menu:hover{
        background-color: #2d6474;
    }

    .navb-item{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border: 0;
    }

    .navb-item:hover{
        border: 0;
    }

    .navb-hamburguer{
        display: flex;
    }
}

@media only screen and (max-width: 700px){
    .navb-brand{
        width: 35%;
    }

    .navb-menus{
        width: 65%;
    }
}

