$white: #fff;
$dark-grey: #242424;
$bg-color: #eeeeee;

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

//icone caret-down
.bi-caret-down-fill{
    font-size: 0.7em;
}

.products-container{
    margin-top: 60px;   //margem referente à navbar
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;    //fonte padrão para facilitar na responsividade, já que todas as unidades de tamanho de fonte se baseiam nessa unidade aqui (por conta do REM). Ex.: 1.2rem = 12px
    background-color: $bg-color;
}

.search-bar-container{
    height: 100px;
    position: relative;
    background-color: #303030;
}

.search-bar{
    height: 55%;
}

.search-input{
    font-size: 15px;
    line-height: 15px;
    padding: 7px 10px 10px 0;
    margin: 0;
    border: 0;
    border-radius: 5px 0 0 5px;
    height: 36px;
    background: 0 0;
    color: #111;
    background-color: $white;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    text-indent: 8px;
}

.search-btn{
    content: url('./images/search-icon.png');
    height: 36px;
    border-radius: 0 5px 5px 0;
    background-color: #78d0db;
    border: 0;
    font-size: 2em; //tamanho do icone da lupa de busca
}

.search-border{
    width: 100%;
    border: 3px solid #303030;   //essa borda fica invisível, pelo mesmo motivo da classe .dropdown-category
    border-radius: 8px;
}

.search-border:focus-within{
    border-color: #41c8da;
    background-color: #41c8da;
}

.search-btn:hover{
    background-color: #59b6c2;
}

.shopping-cart-container{
    position: relative;
    height: 100%;
}

.shopping-cart{
    position: absolute;
    height: 100%;
    width: 100%;
}

.shopping-basket{
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 4.5em;
    color: $white;
    text-align: center;
    line-height: 55px;
}

.cart-quantity{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6px;
    color: #78d0db;
    font-size: 1rem;
    font-weight: 800;
}

.categories-menu-bar{
    height: 45%;
    background-color: #333333;
}

.categories{
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.dropdown-category{
    width: fit-content;
    height: 100%;
    padding: 11px 0px;
    position: relative; //esse position serve para posicionar os elementos dropdown-submenu
}

.dropdown-category.dropdown-search-bar{
    padding: 7px 0px;
}

.category-btn{
    color: $white;
    font-size: 1.4em;
    border: 1px solid #333333;  //essa borda é para ficar invisível mesmo, como o width está como fit-content e na hora que faz o hover surge uma borda branca ele vai redimensionar o width por causa dessa borda, daí essa borda invisivel serve para não redimensionar e o botão não ficar se mexendo
    border-radius: 2px;
    padding: 0px 5px;
}

.dropdown-category:hover .category-btn, .categories-menu-text:hover{
    border-color: $white;
}

.dropdown-category:hover .dropdown-submenu{
    transform: scale(1) //mostra o dropdown-submenu
}

.dropdown-submenu{
    position: absolute; //absoluto em relação ao elemento dropdown-category
    left: 0; //left: 0 em relação ao primeiro elemento pai que tiver um position diferente de static. Nesse caso, é o elemento "dropdown-category", portanto, esse elemento vai ficar no mesmo left que o elemento dropdown-category
    top: 100%; //100% do tamanho do elemento pai + 12px
    width: 150px;
    text-align: start;
    font-size: 1em;
    list-style: none;  
    background-color: #333333;
    border-radius: 3px;
    transform: scale(0);    //esconde o menu e mostra quando for feito o hover
    transform-origin: top center;
    z-index: 2;
}

.dropdown-submenu.signin{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: $white;
}

.dropdown-submenu-item:not(:last-child){    //aplica margem exceto no último <li> (dropdown-submenu-item" 
    margin-bottom: 8px;
}

.dropdown-submenu-link{
    padding: 0 10px;
    color: $white;
    display: block;
}

.dropdown-submenu-link:hover{
    background-color: #4d4d4d;
}

.categories-menu-right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $white;
    font-size: 1.5em;
    line-height: 1.2em;
}

@media screen and (max-width: 768px){
    .categories-menu-right{
        display: none;
    }
}

.categories-menu-text{
    width: fit-content;
    height: fit-content;
    border: 1px solid #333333;   //essa borda também é para ficar invisível, assim como a da classe .dropdown-category
    float: right;
    padding: 2px 5px;
}

.btn-outline{
    position: relative;
    background-color: #234d59;
    color: $white;
    padding: 7px 60px;
    border: 1px solid $dark-grey;
    font-size: 1.3em;
}

.btn-outline:hover{
    background: #2c606e;
    border-color: #234e58;
    transition: all 0.3s ease-out;
    transition: 250ms;
}

.dont-have-account-span{
    font-size: 1em;
    color: #4d4d4d;
    position: relative;
    width: 100%;
    padding-top: 10px;
    border-style: solid;
    border-radius: 4px;
    border-image: linear-gradient(to right, rgba(238, 238, 238, 0.281), rgba(155, 155, 155, 0.226), rgba(238, 238, 238, 0.281))100% 1;
    border-bottom: none; 
}

.top-advertising-container{
    position: relative;
    text-align: center;
    margin-top: 20px;
    background-color: #d5458b;
    height: 80px;    
}

.top-advertising-container h1{
    line-height: 80px;  //alinha o texto verticalmente (o line-heigth tem q ser do mesmo tamanho do heigth do elemento pai)
    font-size: 3em;
    color: $white;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(35, end) infinite,
        blink-animation 0.5s step-end infinite;
}

@keyframes typing{
    from { width: 0 }   //from = 0%
    to { width: 100% }  //to = 100%
}

@keyframes blink-animation{
    from, to { border-color: transparent }
    50% { border-color: #00D8FF; }
}

@media only screen and (max-width: 575px){
    .top-advertising-container h1{
        font-size: 2em;
    }
}

.cards-container{
    position: relative;
    display: flex;
    height: 1500px;
    min-width: 100%;
    background: linear-gradient(to bottom, #41c8da 13%, $bg-color 30%);
}

/*classes só de exemplo (para nao precisar criar uma imagem de background eu criei essas classes)*/
.cards-container-header{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

.cards-container-header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 0 25px;
    z-index: 2;
}

.cards-container-header-text h1{
    font-size: 3.8em;
    font-weight: 900;
    color: $dark-grey;
}

.cards-container-header-img{
    src: url('./images/bg-products-book.png');
    object-fit: contain;
    height: 250px;
    flex-shrink: 2;
    padding: 0 25px;
}
/*fim das classes de exemplo*/

.cards-wrapper{
    position: absolute;
    width: 100%;
    top: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-wrapper{
    width: 350px;
    height: 420px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: $white;
    display: flex;
    flex-direction: column;
}

.card-headline{
    font-weight: 700;
    color: $dark-grey;
}

.card-content{
    border: 1px solid orangered;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-product{
    border: 1px solid blue;
}

.card-product .p4{
    border: 1px solid yellow;
}

.card-product .p1{
    border: 1px solid black;
}

.card-img{
    display: flex;
    justify-content: space-around;
    border: 1px solid greenyellow;
    height: 30px;
    width: 30px;
}


@media screen and (max-width: 420px){
    .carousel-of-products-container{
        display: none;
    }

    .cards-container{
        margin-top: 20px;   //adiciona essa margem porque o carrossel de produtos vai desaparecer e, daí, o cards-container ficaria grudado do top-advertising
    }
}

@media screen and (max-width: 576px){
    .cards-container-header{
        flex-direction: column;
    }

    .cards-container-header-text{
        padding: 20px 25px;
    }
}