$white: #fff;
$dark-grey: #242424;
$bg-color: #eeeeee;

*{
    margin: 0;
    padding: 0;
}

.products-container{
    margin-top: 60px;   //margem referente à navbar
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;    //fonte padrão para facilitar na responsividade, já que todas as unidades de tamanho de fonte se baseiam nessa unidade aqui (por conta do REM). Ex.: 1.2rem = 12px
    background-color: $bg-color;
}

.top-advertising-container{
    position: relative;
    text-align: center;
    margin-top: 20px;
    background-color: #d5458b;
    height: 80px;    
}

.top-advertising-container h1{
    line-height: 80px;  //alinha o texto verticalmente (o line-heigth tem q ser do mesmo tamanho do heigth do elemento pai)
    font-size: 3em;
    color: $white;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(35, end) infinite,
        blink-animation 0.5s step-end infinite;
}

@keyframes typing{
    from { width: 0 }   //from = 0%
    to { width: 100% }  //to = 100%
}

@keyframes blink-animation{
    from, to { border-color: transparent }
    50% { border-color: #00D8FF; }
}

@media only screen and (max-width: 575px){
    .top-advertising-container h1{
        font-size: 2em;
    }
}

.cards-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    //background: linear-gradient(to bottom, #41c8da 13%, $bg-color 30%);
}

.cards-container-header{
    //display: flex;
    //justify-content: center;
    width: 100%;
    height: 250px;
    position: relative;
}

.bg-carousel-link{
    position: absolute;
    width: 100%;
    height: inherit;
    display: flex;
}

.bg-carousel-img{
    flex: 1 1 400px;
    width: inherit;
    height: 440px;
    src: url('./images/background-carousel/bg-blue.png');
    //object-fit: contain;
}

// .cards-container-header-text{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     flex-shrink: 1;
//     padding: 0 25px;
//     z-index: 2;
// }

// .cards-container-header-text h1{
//     font-size: 3.8em;
//     font-weight: 900;
//     color: $dark-grey;
// }

// .cards-container-header-img{
//     //src: url('./images/bg-products-book.png');
//     object-fit: contain;
//     height: 250px;
//     padding: 0 25px;
// }
/*fim das classes de exemplo*/

.cards-container-cards-wrapper{
    height: 365px;
    overflow: hidden;
    z-index: 2;
}

.card-row{
    padding: 0 5px;
}

.card-wrapper{
    height: fit-content;
    padding: 5px;
}

.card-inner-wrapper{
    height: 350px;
    padding: 13px;
    background-color: $white;
    display: flex;
    flex-direction: column;
}

.card-headline{
    font-weight: 700;
    color: $dark-grey;
}

.card-content{
    border: 1px solid orangered;
    display: grid;
    height: 100%; 
}

.card-content.p4{
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card-content.p1{
    grid-template-columns: 1fr;
}

.card-product{
    border: 1px solid green;
}

.card-product img{
    display: block;
    border: 1px solid rgb(105, 105, 241);
    height: 80%;
    width: 100%;
}

.card-product p{
    border: 1px solid yellow;
    height: 20%;
    width: 100%;
}

.banner-container{
    height: 200px;
    width: 100%;
}

.banner-row{
    height: 100%;
    width: 100%;
}

.banner-content{
    height: 90%;
    padding: 0 20px;
    background: linear-gradient(to bottom, #54cada 30%, #7ed5e0 70%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-icon{
    // display: flex;
    flex: 1;
    font-size: 13em;
    color: #e069a3;
    height: 100%;
    text-align: center;
    //width: 30%;
}

.banner-text{
    flex: 1;
    text-align: end;
}

.banner-text h1{
    font-weight: 800;
}

@media screen and (max-width: 420px){
    .carousel-of-products-container{
        display: none;
    }

    .cards-container{
        margin-top: 20px;   //adiciona essa margem porque o carrossel de produtos vai desaparecer e, daí, o cards-container ficaria grudado do top-advertising
    }
}

// @media screen and (max-width: 576px){
//     .cards-container-header{
//         flex-direction: column;
//     }

//     .cards-container-header-text{
//         padding: 20px 25px;
//     }
// }

@media screen and (max-width: 575px) {
    .cards-container-cards-wrapper{
        height: 725px;
    }
}