$white: #fff;
$dark-grey: #242424;

*{
    margin: 0;
    padding: 0;
}

.products-container{
    margin-top: 60px;   //margem referente à navbar
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;    //fonte padrão para facilitar na responsividade, já que todas as unidades de tamanho de fonte se baseiam nessa unidade aqui (por conta do REM). Ex.: 1.2rem = 12px
}

.top-advertising-container{  
    height: 150px;
    position: relative;   
}

.top-advertising{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d5458b;
    height: 80px;    
}

.top-advertising h1{
    line-height: 80px;  //alinha o texto verticalmente (o line-heigth tem q ser do mesmo tamanho do heigth do elemento pai)
    font-size: 3em;
    color: $white;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(35, end) infinite,
        blink-animation 0.5s step-end infinite;
}

@keyframes typing{
    from { width: 0 }   //from = 0%
    to { width: 100% }  //to = 100%
}

@keyframes blink-animation{
    from, to { border-color: transparent }
    50% { border-color: #00D8FF; }
}

@media only screen and (max-width: 575px){
    .top-advertising h1{
        font-size: 2em;
    }
}
