//variáveis globais
$font-color: white;

nav{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;    //fonte padrão para facilitar na responsividade, já que todas as unidades de tamanho de fonte se baseiam nessa unidade aqui (por conta do REM). Ex.: 1.2rem = 12px
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-container{
    display: flex;
    background-color: #242424;
    box-sizing: border-box;
    height: 50px;
}

.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: inherit;
}

.navbar-brand-name{
    font-size: 3em; //3em = 30px
    font-weight: 700;
    color: $font-color;
    text-decoration: none;
}

.navbar-brand-logo{
    background-image: url('../../../assets/navbar/brand-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.navbar-menus{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 65%;
    height: inherit;
}

.navbar-menu{
    margin-right: 50px;
    transition: border 0.3s ease-out;
}

.navbar-menu:hover{
    border-bottom: 5px solid #fff;
}

.navbar-item{
    text-decoration: none;
    font-size: 2em; //2em = 20px
    color: $font-color;
}

/* Configurações do menu hamburguer*/
.navbar-hamburguer{
    width: 15%;
    height: inherit;
    //position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-hamburguer{   //esse menu é só para melhorar (aumentar) a área de clique do menu hamburguer
    width: 44px;
    height: 42px;
    position: relative;
}

.hamburguer{
    display: block; //precisa do display block para definir o width e o height
    position: absolute;
    top: 19px;
    left: 7px;
    background-color: #fff;
    border-radius: 3px;
    width: 30px;
    height: 4px;
    transition: 0.5s ease-in-out;   
}

.hamburguer::before, .hamburguer::after{
    background-color: #fff;
    content: "";
    display: block;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.hamburguer::before{
    top: -8px;
}

.hamburguer::after{
    bottom: -8px;
}

#hamburguer-check-box{
    display: none;
}

#hamburguer-check-box:checked + label .hamburguer{  /*o ~ é para pegar apenas a primeira label após a checkbox*/
    transform: rotate(45deg);
}

#hamburguer-check-box:checked + label .hamburguer::before{
    transform: rotate(90deg);
    top: 0;
}

#hamburguer-check-box:checked + label .hamburguer::after{
    transform: rotate(90deg);
    bottom: 0;
}
/* fim das configurações do menu hamburguer*/


@media only screen and (max-width: 500px){
    nav{
        font-size: 7px; //diminui o tamanho da fonte da nav o que faz diminuir, automaticamente, o tamanho de da fonte de toda a navbar uma vez que a unidade de tamanho é a "em"
    }

    .navbar-brand-logo{
        width: 20px;
        height: 20px;
    }

    .navbar-brand{
        width: 30%;
    }

    .navbar-menus{
        visibility: hidden;
    }

    .navbar-hamburguer{
        width: 30%;
    }

}

@media only screen and (max-width: 700px){
    .navbar-item{
        font-size: 1.5em;
    }

    .navbar-brand{
        width: 35%;
    }

    .navbar-menus{
        width: 50%;
    }

    .navbar-menu{
        margin-right: 15px;
    }

    .navbar-hamburguer{
        width: 15%;
    }
}

