<nav class='navbar'>
    <div class='navbar-container'>   
        <div class="navbar-brand">
            <a class="navbar-brand-name" routerLinkActive="active" routerLink="/">
                BRAND   
            </a>
            <a class="navbar-brand-logo" routerLinkActive="active" routerLink="/"></a>
        </div>

        <div class="navbar-menus">
            <div class="navbar-menu">
                <a class="navbar-item" routerLinkActive="active" routerLink="/">
                    Home
                </a>
            </div>

            <div class="navbar-menu">
                <a class="navbar-item" routerLinkActive="active" routerLink="/services">
                    Services
                </a>
            </div>

            <div class="navbar-menu">
                <a class="navbar-item" routerLinkActive="active" routerLink="/products">
                    Products
                </a>
            </div>
        </div>

        <div class="navbar-hamburguer">
            <div class="navbar-icon-hamburguer" (click)="showSideMenu()"></div>

            <app-menu-sidebar [ngClass]="{'show-side-menu' : showMenu}"></app-menu-sidebar>
        </div>   
    </div>
</nav>   

