<nav class='navbar'>
    <div class='navbar-container'>  
        <input id="hamburguer-check-box" type="checkbox">   <!-- essa input serve para verificar quando o menu hamburguer for clicado, precisa fica aqui antes de tudo pois ela só consegue pegar elementos que estão depois dela -->

        <div class="navbar-brand">
            <a class="navbar-brand-name" routerLinkActive="active" routerLink="/">
                BRAND   
            </a>
            <a class="navbar-brand-logo" routerLinkActive="active" routerLink="/"></a>
        </div>
        
        <div class="navbar-menus">
            <div class="navbar-menu">
                <a class="navbar-item" routerLinkActive="active" routerLink="/">
                    Home
                </a>
            </div>

            <div class="navbar-menu">
                <a class="navbar-item" routerLinkActive="active" routerLink="/services">
                    Services
                </a>
            </div>

            <div class="navbar-menu">
                <a class="navbar-item" routerLinkActive="active" routerLink="/products">
                    Products
                </a>
            </div>
        </div>

        <div class="navbar-hamburguer">
            <label for="hamburguer-check-box">  <!--o for faz referência ao id da checkbox-->
                <div class="menu-hamburguer">
                    <span class="hamburguer"></span>
                </div>
            </label>
        </div>   
    </div>
</nav>   

