$white: rgb(255, 255, 255);

.btn-container{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #234d59;
    background-color: rgba($white, 0.90);
    box-shadow: 2px 1px 6px #8e8e8eda;
    animation: fadeIn .8s;
    cursor: pointer;
}

.btn-to-top{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(#234d59, 0.80);
    width: 50px;
    height: 50px;
    border: 0.5px solid #234d59;
    border-radius: 50%;
    transition: background-color .2s ease-in;
}

.btn-to-top:hover{
    background-color: rgba(#234d59, 0.90);
}

.btn-to-top::after{
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    content: "^";
    font-size: 45px;
    color: $white;
}

.showBtn{
    display: block;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}