$white: #fff;
$dark-grey: #242424;

.create-account-container{
    margin: 15px 0px 15px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;    //fonte padrão para facilitar na responsividade, já que todas as unidades de tamanho de fonte se baseiam nessa unidade aqui (por conta do REM). Ex.: 1.2rem = 12px
}

a{
    text-decoration: none;
}

.login-brand-name{
    font-size: 3em; //3em = 30px
    font-weight: 600;
    color: $white;
    text-decoration: none;
    color: $dark-grey;
    margin-bottom: 20px;
}

.create-account-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 20px 20px; //padding se aplica àquilo que está dentro do elemento e, não, ao elemento em si
    height:fit-content;
}

.form{
    display: grid;
    align-content: space-between;
    height: 680px;
    font-size: 1.3em;
    font-weight: 660;
    margin-top: 15px;
}

.address{
    display: grid;
    align-content: space-between;
    height: 380px;
}

.grid-template-columns-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.btn-create-account{
    background-color: #5fa371;
    border: 1px solid #2d4e36;
    color: $white;
    height: 40px;
    font-size: 1.5em;
    font-weight: 600;
}

.btn-create-account:hover{
    background-color: #549265;
    color: $white;
    transition: all 0.3s ease-out;
    transition: 250ms;
}

.terms-of-use-link{
    font-size: 1.1em;
    margin-bottom: 15px;
}

.already-have-account-span{
    font-size: 1.3em;
    color: #4d4d4d;
    position: relative;
    width: 100%;
    border-style: solid;
    border-radius: 4px;
    border-image: linear-gradient(to right, rgba(238, 238, 238, 0.281), rgba(155, 155, 155, 0.226), rgba(238, 238, 238, 0.281))100% 1;
    border-bottom: none; 
}

.field-error::after{
    content: "Invalid field";
    color: red;
    font-style: italic;
}

.field-error input {
    border: 1px solid red;
}
