<div class="create-account-container container-fluid">
    <div class="row text-center">
        <a class="login-brand-name col-sm-12" routerLinkActive="active" routerLink="">
            BRAND.com
        </a>
    </div>

    <div class="row">
        <div class="create-account-data container col-sm-8 col-md-6">
            <h2>
                Create Account
            </h2>

            <!--formGroupName="endereco" é o grupo maior que engloba os campos de cep, numero, complemento, bairro, cidade e estado, assim como foi feito lá no .ts-->
            <form class="form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <!-- [formGroup] é o que vai vincular a minha variavel formulario lá do .ts com esse formulario aqui - o (ngSubmit) fica ouvindo um evento de submit, que é disparado ao clicar no botão de criar conta -->
                <div class="form-group" [ngClass]="applyCssFieldError('username')"> <!-- aplicaSccErro() retorna a classe 'has-error' do bootstrap que será aplicada a esse elemento caso esse campo não passe com sucesso pelos Validators -->
                    <label for="username" class="control-label">Username</label>
                    <input type="text" class="form-control" formControlName="username" id="username">
                </div>

                <div class="form-group" [ngClass]="applyCssFieldError('email')">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" formControlName="email" id="email">
                </div>

                <div class="form-group" [ngClass]="applyCssFieldError('password')">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" id="password">
                </div>

                <div class="address" formGroupName="address">
                    <div class="grid-template-columns-2">
                        <div class="form-group" [ngClass]="applyCssFieldError('address.cep')">
                            <label for="cep" class="control-label">CEP</label>
                            <input type="text" class="form-control" formControlName="cep" (blur)="findCEP()" id="cep">
                        </div>

                        <div class="form-group">
                            <label for="state" class="control-label">State</label>
                            
                            <select class="form-control" formControlName="state" id="state">
                                <!-- Sempre que estiver lidando com dados vindos de observables, é sempre melhor utilizar o pipe async aqui no template do que fazer o subscribe do observable no componente (.ts) para evitar memory leaks -->
                                <option *ngFor="let state of states$ | async" [value]="state.abbreviation">{{ state.name }}</option>               
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="street" class="control-label">Street</label>
                        <input type="text" class="form-control" formControlName="street" id="street">
                    </div>

                    <div class="grid-template-columns-2">
                        <div class="form-group">
                            <label for="number" class="control-label">Number</label>
                            <input type="text" class="form-control" formControlName="number" id="number">
                        </div>

                        <div class="form-group">
                            <label for="complement" class="control-label">Complement</label>
                            <input type="text" class="form-control" formControlName="complement" id="complement">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="district" class="control-label">District</label>
                        <input type="text" class="form-control" formControlName="district" id="district">
                    </div>

                    <div class="form-group">
                        <label for="city" class="control-label">City</label>
                        <input type="text" class="form-control" formControlName="city" id="city">
                    </div>
                </div>

                <button type="submit" class="btn-create-account">Create Account</button>
            </form>

            <p class="terms-of-use-link">
                By creating an account, you agree to Brand's 
                <a routerLink='#'>Terms of Use</a>.
                Please check our website <a routerLink='#'>Cookies Policy</a>.
            </p>

            <span class="already-have-account-span">Already have an account? 
                <a routerLinkActive="active" routerLink="/login">Login</a>
            </span>
        </div>
    </div>
</div>