<div class="login-container container-fluid">
    <div class="row text-center">
        <a class="login-brand-name text-center col-sm-12" routerLinkActive="active" routerLink="/">
            BRAND.com.br
        </a>
    </div>
    
    <div class="row">
        <div class="login-card-data container col-sm-8 col-md-5">
            <h2>
                Log In
            </h2>
    
            <div class="form-group user">
                <label for="user" class="control-label">Username</label>
                <input type="text" [(ngModel)]="user.name" class="form-control" id="user">
            </div>
    
            <div class="form-group password">
                <label for="password" class="control-label">Password</label><label ><a routerLinkActive="active" routerLink="/">Forgot password</a></label>
                <input type="password" [(ngModel)]="user.password" class="form-control" id="password">
            </div>
    
            <button type="submit" class="btn-login" (click)="login()">LOGIN</button>
        </div>
    </div>
    
    <div class="row text-center justify-content-center">
        <div class="create-account-container col-sm-8 col-md-5">
            <span class="create-account-span">Don't have an account?</span>
        
            <a class="btn-create-account" routerLinkActive="active" routerLink="new-account">Create Account</a>
        </div>
    </div>
</div>

