$white: #fff;
$dark-grey: #242424;

.login-container{
    margin: 15px 0px 15px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;    //fonte padrão para facilitar na responsividade, já que todas as unidades de tamanho de fonte se baseiam nessa unidade aqui (por conta do REM). Ex.: 1.2rem = 12px
}

.login-brand-name{
    font-size: 3em; //3em = 30px
    font-weight: 600;
    color: $white;
    text-decoration: none;
    color: $dark-grey;
}

.login-card-data{
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 20px 20px; //padding se aplica àquilo que está dentro do elemento e, não, ao elemento em si
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 300px;
    margin-top: 20px;
}

.user, .password{
    font-size: 1.3em;
    font-weight: 700;
}

.password label{
    width: 50%;
}

.password label + label{   //label + label é para o css selecionar a primeiro label que vier depois de uma outra label, ou seja, dentro da classe .password, procure uma label, na próxima label aplica o text-align
    text-align: right;
}

.password a{
    text-decoration: none;
}

.btn-login{
    background-color: #234d59;
    color: $white;
    padding: 8px 0;
    border: 1px solid $dark-grey;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
}

.btn-login:hover{
    background: #2c606e;
    border-color: #234e58;
    color: $white;
    transition: all 0.3s ease-out;
    transition: 250ms;
}

.create-account-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
    height: 110px;
    text-align: center;
}

.create-account-span{
    font-size: 1.3em;
    color: #6d6d6d;
    position: relative;
    width: 100%;
}

.create-account-span::before, .create-account-span::after{
    position: absolute;
    content: '';
    width: 29%;
    height: 1px;
    bottom: 50%;
    background: #c7c7c7;
    border-radius: 4px;
}

.create-account-span::before{
    position: absolute;
    left: 0;
}

.create-account-span::after{
    right: 0;
}

.btn-create-account{
    font-size: 1.5em;
    background-color: #5fa371;
    border: 1px solid #2d4e36;
    color: $white;
    padding: 8px 45px;
    text-decoration: none;
}

.btn-create-account:hover{
    background-color: #549265;
    transition: 250ms;
}

.has-error{
    border: 2px solid red
}