<div class="home-container ">
    <!-- a class="row" é para poder utilizar as classes "col-x-y" do bootstrap -->
    <section class="container-fluid">
        <div class="row align-items-center justify-content-center header-site">
            <div class="col-11 text-center header-content">
                <h1>
                    WELCOME
                </h1>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Donec nec viverra erat, a eleifend nisi.
                </p>

                <a class="btn-outline btn-sign-in" routerLinkActive="active" routerLink="/login">SIGN-IN</a>
            </div>
        </div>     
    </section>

    <section class="content-site">
        <section class="container-fluid">
            <div class="row initial-text">
                <h2 class="text-center">
                    Proin a lorem sit amet erat gravida imperdiet
                </h2>
    
                <p class="text-center">
                    Aenean sed lobortis justo. Sed sodales euismod aliquet.
                    Integer nec semper nulla, vel consectetur lectus.
                    Morbi et lacus leo. Donec facilisis dolor ac sem congue,
                    nec luctus purus ultrices. Pellentesque facilisis
                    sodales facilisis.
                </p>
            </div>
        </section>

        <section class="cards container-fluid">
            <div class="cards-row row">
                <div class="cards-wrapper col-9 col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let card of cards$ | async"  >
                    <div class="cards-container">
                        <a class="cards-link" routerLinkActive="active" routerLink="/">
                            
                            <img src="{{ card.imgUrl }}" alt="Imagem thumbnail">

                            <div class="card-caption text-center">
                                <h3>
                                    {{ card.cardCaptionTitle }}
                                </h3>

                                <p>
                                    {{ card.cardCaptionText }}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="your-products-container container-fluid">
            <div class="row align-items-center justify-content-center">
                <p>
                    Sed sollicitudin ornare mollis. Aenean imperdiet 
                    posuere nisi. Proin luctus lacus vitae nisl 
                    fermentum scelerisque. Cras sodales dui et 
                    venenatis mattis. Phasellus ultricies eros 
                    nec lacus posuere fringilla. 
                </p>
    
                <a class="btn-outline" routerLinkActive="active" routerLink="/users">Your products</a>  
            </div>
        </section> 
    </section>

    <app-scroll-top-button></app-scroll-top-button>
</div>