$white: #fff;
$dark-grey: #242424;

.home-container{
    margin-top: 60px;   //margem referente à navbar
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;    //fonte padrão para facilitar na responsividade, já que todas as unidades de tamanho de fonte se baseiam nessa unidade aqui (por conta do REM). Ex.: 1.2rem = 12px
    text-decoration: none;
}

.cards{
    padding: 20px 0px;
}

.thumbnail-container{
    padding: 15px;
}

.thumbnail{
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 9px;
    transition: all 0.3s ease-in-out;
}

.thumbnail:hover{
    box-shadow: 3px 2px 10px #a5a5a5da;
}

.home-thumb{
    text-decoration: none;
    color: #242424;
}

.home-thumb img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.header-site{
    background-image: url('/assets/home/home-paralax.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   //essa configuração é que gera o efeito parallax
    color: $white;
    padding-top: 30vh;
    padding-bottom: 30vh;
}

.header-site h1{
    font-size: 3.5em;
    font-weight: 600;
}

.header-site p{
    font-size: 2em;
}

.btn-outline{
    background-color: transparent;
    color: #fff;
    padding: 8px 40px;
    border: 1px solid $white;
    font-size: 2em;
    text-decoration: none;
}

.btn-outline:hover{
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
    transition: 250ms;
}

.content-site{
    padding-top: 90px;
    padding-bottom: 90px;
}

.content-site h2{
    font-size: 3em;
}

.content-site p{
    font-size: 1.5em;
}

.your-products-container{   
    background-color: #234d59;
    height: 45vh;
    position: relative;
    padding: 15px;
}

.your-products-content{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $white;
    text-align: center;
}

.your-products-content p{
    font-size: 2em;
}

.row{
    justify-content: center;
}

