<div class="home-container">
    <section class="header-site">
        <div class="row">
            <!-- a class="row" é para poder utilizar as classes "col-x-y" do bootstrap -->
            <div class="col-sm-12 text-center">
                <h1>
                    WELCOME
                </h1>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Donec nec viverra erat, a eleifend nisi.
                </p>

                <a class="btn-outline" routerLinkActive="active" routerLink="/login">SIGN-IN</a>
            </div>
        </div>
    </section>

    <section class="content-site">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center">
                        Proin a lorem sit amet erat gravida imperdiet
                    </h2>

                    <p class="text-center">
                        Aenean sed lobortis justo. Sed sodales euismod aliquet.
                        Integer nec semper nulla, vel consectetur lectus.
                        Morbi et lacus leo. Donec facilisis dolor ac sem congue,
                        nec luctus purus ultrices. Pellentesque facilisis
                        sodales facilisis.
                    </p>
                </div>
            </div>
        </div>

        <section class="cards">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 thumbnail-container">
                    <div class="thumbnail">
                        <a class="home-thumb" routerLinkActive="active" routerLink="/">
                            <img src="assets/home/home-thumb-1.jpg" alt="Imagem thumbnail 1">

                            <div class="caption text-center">
                                <h3>
                                    Nulla vitae massa
                                </h3>

                                <p>
                                    Nulla vitae massa quis neque blandit vehicula ac id eros.
                                    Fusce massa velit.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 thumbnail-container">
                    <div class="thumbnail">
                        <a class="home-thumb" routerLinkActive="active" routerLink="/">
                            <img src="assets/home/home-thumb-2.jpg" alt="Imagem thumbnail 2">

                            <div class="caption text-center">
                                <h3>
                                    Nulla vitae massa
                                </h3>

                                <p>
                                    Nulla vitae massa quis neque blandit vehicula ac id eros.
                                    Fusce massa velit.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 thumbnail-container">
                    <div class="thumbnail">
                        <a class="home-thumb" routerLinkActive="active" routerLink="/">
                            <img src="assets/home/home-thumb-3.jpg" alt="Imagem thumbnail 3">

                            <div class="caption text-center">
                                <h3>
                                    Nulla vitae massa
                                </h3>

                                <p>
                                    Nulla vitae massa quis neque blandit vehicula ac id eros.
                                    Fusce massa velit.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 thumbnail-container">
                    <div class="thumbnail">
                        <a class="home-thumb" routerLinkActive="active" routerLink="/">
                            <img src="assets/home/home-thumb-4.jpg" alt="Imagem thumbnail 3">

                            <div class="caption text-center">
                                <h3>
                                    Nulla vitae massa
                                </h3>

                                <p>
                                    Nulla vitae massa quis neque blandit vehicula ac id eros.
                                    Fusce massa velit.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 thumbnail-container">
                    <div class="thumbnail">
                        <a class="home-thumb" routerLinkActive="active" routerLink="/">
                            <img src="assets/home/home-thumb-5.jpg" alt="Imagem thumbnail 3">

                            <div class="caption text-center">
                                <h3>
                                    Nulla vitae massa
                                </h3>

                                <p>
                                    Nulla vitae massa quis neque blandit vehicula ac id eros.
                                    Fusce massa velit.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <div class="your-products-container">
            <div class="your-products-content">
                <p>
                    Sed sollicitudin ornare mollis. Aenean imperdiet 
                    posuere nisi. Proin luctus lacus vitae nisl 
                    fermentum scelerisque. Cras sodales dui et 
                    venenatis mattis. Phasellus ultricies eros 
                    nec lacus posuere fringilla. 
                </p>
    
                <a class="btn-outline" routerLinkActive="active" routerLink="/users">Your products</a>
            </div>
        </div>
        
    </section>


</div>