<div class="home-container">
    <section class="header-site">
        <div class="row">
            <!-- a class="row" é para poder utilizar as classes "col-x-y" do bootstrap -->
            <div class="col-sm-12">
                <h1 class="text-center">
                    WELCOME
                </h1>

                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Donec nec viverra erat, a eleifend nisi.
                </p>

                <p class="text-center">
                    <a class="btn-outline" routerLinkActive="active" routerLink="/">Sign-in</a>
                </p>
            </div>
        </div>
    </section>

    <section class="content-site">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center">
                        Proin a lorem sit amet erat gravida imperdiet
                    </h2>

                    <p class="text-center">
                        Aenean sed lobortis justo. Sed sodales euismod aliquet.
                        Integer nec semper nulla, vel consectetur lectus.
                        Morbi et lacus leo. Donec facilisis dolor ac sem congue,
                        nec luctus purus ultrices. Pellentesque facilisis
                        sodales facilisis.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 thumbnail-container">
                <div class="thumbnail">
                    <a class="home-thumb" routerLinkActive="active" routerLink="/">
                        <img src="assets/home/home-thumb-1.jpg" alt="Imagem thumbnail 1">

                        <div class="caption text-center">
                            <h3>
                                Nulla vitae massa
                            </h3>

                            <p>
                                Nulla vitae massa quis neque blandit vehicula ac id eros.
                                Fusce massa velit.
                            </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-4 thumbnail-container">
                <div class="thumbnail">
                    <a class="home-thumb" routerLinkActive="active" routerLink="/">
                        <img src="assets/home/home-thumb-2.jpg" alt="Imagem thumbnail 2">

                        <div class="caption text-center">
                            <h3>
                                Nulla vitae massa
                            </h3>

                            <p>
                                Nulla vitae massa quis neque blandit vehicula ac id eros.
                                Fusce massa velit.
                            </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-4 thumbnail-container">
                <div class="thumbnail">
                    <a class="home-thumb" routerLinkActive="active" routerLink="/">
                        <img src="assets/home/home-thumb-3.jpg" alt="Imagem thumbnail 3">

                        <div class="caption text-center">
                            <h3>
                                Nulla vitae massa
                            </h3>

                            <p>
                                Nulla vitae massa quis neque blandit vehicula ac id eros.
                                Fusce massa velit.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-site">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>