<div class="not-found-container container-fluid">
    <div class="row text-center justify-content-center align-content-center">
        <div class="col-sm-12">
                <a class="brand-name" routerLink="">
                    BRAND   
                </a>
    
                <a class="brand-logo" routerLinkActive="active" routerLink="">
                    <img src="assets/brand-logo.png">
                </a>
        </div>
    
        <div class="col-sm-12">
            <p class="msg-not-found">
                404 - Sorry, this page was not found
            </p>
        </div>
    </div> 
</div>
