$white: #fff;
$dark-grey: #242424;

div{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;    //fonte padrão para facilitar na responsividade, já que todas as unidades de tamanho de fonte se baseiam nessa unidade aqui (por conta do REM). Ex.: 1.2rem = 12px
}

.not-found-container{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brand-name-logo{
    font-size: 4em; //3em = 30px
    font-weight: 700;
    color: $dark-grey;
    text-decoration: none;
    height: 70px;
}

.brand-name-logo img{
    height: 55%;
    margin-bottom: 10px;
}

.msg-not-found{
    font-size: 2em;
    margin: 0;
}